Mechanistic/Mechanistic.xcodeproj/project.xcworkspace/xcuserdata/User.xcuserdatad/UserInterfaceState.xcuserstate
Mechanistic/Mechanistic.xcodeproj/project.xcworkspace/xcuserdata/*
Mechanistic/Mechanistic.xcodeproj/xcuserdata/User.xcuserdatad/xcdebugger/
*.DS_Store*

